<h1 class="title--long"><a href="http://web-a11y.herokuapp.com/">A11y Slack Channel</a></h1>
<img alt="Slack Screenshot" src="/assets/images/slack.png" class="example-image" />

<ul class="subtitle-ul--super">
  <li>"Not Enough Tools/Resources"</li>
</ul>

{{page-title "A11y Slack Channel"}}
