<h1 class="title--xlong">Add A Link To Skip Repetitive Content</h1>

{{#code-highlight}}
  ```js
  <a href="#main_content">Skip to content</a>
  <nav>
    <li><!-- ... --></li>
  </nav>

  <div class="main-container" id="main_content">
    <!-- ... -->
  </div>
  ```
{{/code-highlight}}

<ul class="subtitle-ul--super">
  <li>Thrid Example</li>
</ul>

{{page-title "Add A Link To Skip Repetitive Content"}}
