<h1 class="title">Unhelpful Select Replacement</h1>

<div class="demo-div">
  {{#ember-chosen tabindex=1}}
    <option value="true">True</option>
    <option value="false">False</option>
  {{/ember-chosen}}
</div>

<ul class="subtitle-ul--super">
  <li>Tenth Example</li>
</ul>

{{page-title "Improper Select Replacement Example"}}
