<h1 class="title">Improper Select Replacement</h1>

<div class="demo-div">
  {{#ember-chosen tabindex=1}}
    <option value="true">True</option>
    <option value="false">False</option>
  {{/ember-chosen}}
</div>

{{page-title "Borked Select Replacement"}}
