<h1 class="title">Can't Be As Hard As JavaScript</h1>

<img alt="Type of NAN equals 'number'" src="/assets/images/typeof-nan.png" />

<ul class="subtitle-ul--super">
  <li>"Too Hard"</li>
</ul>

{{page-title "Cant Be As Hard As Java Script"}}
