<h1 class="title">Flash Back To 1998</h1>
<div class="image-collage">
  <img alt="What Apples website looked like in 1998" src="/assets/images/1998-apple.png" />
  <img alt="What Googles website looked like in 1998" src="/assets/images/1998-google.png" />
  <img alt="What Yahoos website looked like in 1998" src="/assets/images/1998-yahoo.png" />
</div>


{{page-title "Flash Back To 1998"}}
