<h1 class="title--long">Heading Hierarchy Is Important</h1>

{{#code-highlight}}
  ```html
  <h1>Most important</h1>
  <h2>...</h2>
  <h3>...</h3>
  <!-- h4-h6 -->
  ```
{{/code-highlight}}

<ul class="subtitle-ul--super">
  <li>Fourth Example</li>
</ul>

{{page-title "Heading Hierarchy Is Important"}}
