<h1 class="title">Images Without ALT tags</h1>

{{#code-highlight}}
```html
<img alt="Playful kitten on its back" src="/assets/images/playful-kitten.jpg" />
```
{{/code-highlight}}

<ul class="subtitle-ul--super">
  <li>Sixth Example</li>
</ul>

{{page-title "Images Without ALT tags are big nos"}}
