<h1 class="title">Input With Labels</h1>

{{#code-highlight}}
```html
<label for="name_input"></label>
<input name="name" type="text" value="" id="name_input" />
<!-- OR -->
<label>
  <input name="name" type="text" value="" />
</label>
```
{{/code-highlight}}

{{page-title "Input With Labels"}}
