<h1 class="title">Helpful Select Replacement</h1>

{{#dk-select tabindex="1"}}
  {{#dk-option value="true"}}True{{/dk-option}}
  {{#dk-option value="false"}}False{{/dk-option}}
{{/dk-select}}

<ul class="subtitle-ul--super">
  <li>Tenth Example</li>
</ul>

{{page-title "Proper Select Replacement Example"}}
