<h1 class="title">Proper Select Replacement</h1>

{{#dk-select tabindex="1"}}
  {{#dk-option value="true"}}True{{/dk-option}}
  {{#dk-option value="false"}}False{{/dk-option}}
{{/dk-select}}

{{page-title "Proper Select Replacement Example"}}
