<ul class="ul--long">
  <li>Never autoplay audio</li>
  <li>Don't create time sensitive content</li>
  <li>Skip repeative content</li>
  <li>Heading hierarchy is important</li>
  <li>:focus, :active, and :hover states are required</li>
  <li>Images should have alts</li>
  <li>Make sure page titles are unique</li>
  <li>Add a language attribute</li>
  <li>Make sure inputs have lables</li>
  <li>Select replacements are generally bad. Use only if required</li>
  <li>Don't recreate form elements</li>
</ul>

{{page-title "Quick Recap"}}
