<h1 class="title">So Remember These?</h1>
<ul>
  <li>Too expensive</li>
  <li>Too hard</li>
  <li>Not enough resources / not enough time</li>
  <li>Won’t make me money</li>
  <li>The percentage of users are too small to support</li>
  <li>Not enough tools / resources</li>
</ul>

{{page-title "So Remember These"}}
