<h1 class="title" style="padding-bottom: 18px;">Some Nope'd Right Out</h1>
<img alt="Squid noping out" src="/assets/images/nope-nope-nope.gif" class="example-image" />

{{page-title "Some Noped Out"}}
