<h1 class="title">Thank You!</h1>
<h4 class="subtitle">Slides: <a href="http://a11y-debt.com">a11y-debt.com</a></h4>
<h4 class="subtitle"><a href="http://github.com/robdel12/a11y-debt">Github repo for slides</a></h4>

{{page-title "Thank You"}}
