<div class="screen-reader" tabindex="0">
  <h2>This is a slide deck. You can advance to the next slide by pressing the right arrow key. To go backwards press the left arrow key.</h2>
</div>

<h1 class="title">"Accessibility Debt"</h1>

{{page-title "Accessibility Debt"}}
