<h1 class="title--xlong">According to the 2010 US Census 18.1% of adults are disabled in some way, shape, or form*</h1>
<ul class="subtitle-ul">
  <li>In the United States</li>
  <li>Not all are internet users</li>
</ul>

{{page-title "United States Census Stat"}}
